#chat-room-screen {
    background-color: #abc1d1;
    height: 11000vh;
}

#chat-room-screen .status-bar {
    z-index: 2;
}


#chat-room-screen .alt-header {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    text-align: center;
    color: white;
    background-color: #92a4b2;
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 25px;
    font-size: 14px;

}

/* message-content */

.message-row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.message-row img {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    margin-right: 10px;
}

.message__author {
    display: block;
    margin-bottom: 8px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 8px 20px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 8px;
    font-size: 18px;
}

.message__author,
.message__time {
    opacity: 0.8;
    font-size: 13px;
}

/* message-row-own */
.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {    
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-left: 8px;
    /* order: 1; */
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

/* Reply Section */
.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
}

.reply__column:first-child {
    width: 10%;
}

.reply__column:last-child {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
}

.reply i {
    color: var(--gray);
}

.reply input {
    height: 30px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    padding: 5px 10px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 0;
}

.reply__column:last-child > i {
    right: 54px;
}

.reply__column:last-child button {
    background-color: var(--yellow);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.reply__column button i {
    color: #2e363e;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}