.badge {
    background-color: tomato;
    width: 20px;
    height: 20px;
    /* display: block; span은 inline으로 넓이를(좌우) 가지지 못함. 따라서 block으로 바꿔 주어야한다. */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 10px;
}