.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 0px;
    border-top: 1px solid rgba(171, 171, 171, 0.495);
    /* box-sizing: border-box; */  
}

.nav__list {
    display: flex;
    justify-content: space-around;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification {
    background-color: tomato;
    width: 20px;
    height: 20px;
    /* display: block; span은 inline으로 넓이를(좌우) 가지지 못함. 따라서 block으로 바꿔 주어야한다. */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.nav__dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    bottom: 20px;
    left: 22px;

}