.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 0px;
    border-top: 1px solid rgba(171, 171, 171, 0.495);
    /* box-sizing: border-box; */  
}

.nav__list {
    display: flex;
    justify-content: space-around;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.nav__dot {
    position: absolute;
    bottom: 20px;
    left: 22px;
}